/* LAYOUT FOR MAIN CONTENT */
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}
main {
  display: grid;
  row-gap: 1rem;
}
main > *:not(:first-child) {
  margin: 0 1rem;
}
main {
  grid-template-rows: min-content min-content 1fr min-content;
}
#instruction main {
  grid-template-rows: min-content min-content min-content 1fr min-content;
}

.webform {
  place-content: center;
}

/* LAYOUT FOR HEADER AND FOOTER */
footer {
  display: grid;
  gap: 10px;
}
header nav,
footer nav {
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: space-between;
  align-items: center;
}
header nav > * {
  flex: 1;
}
nav ul {
  display: flex;
  justify-content: flex-end;
}
header ul {
  width: auto;
  justify-content: center;
}
footer ul {
  flex-direction: column;
  padding-left: 1rem;
}

/* LAYOUT FOR SECTIONS */
#daily,
#breaking {
  display: grid;
}
#daily {
  grid-template-rows: repeat(2, minmax(200px, min-content));
  gap: 1rem;
}
#breaking {
  grid-template-rows: repeat(auto-fit, minmax(50px, min-content));
  gap: 0;
}

@media (width > 600px) {
  #frontpage > main {
    grid-template-columns: 6fr 3fr;
    grid-template-rows: auto 1fr auto;
  }
  #instruction > main,
  #register > main {
    grid-template-columns: 5fr 3fr;
    grid-template-rows: auto auto 1fr auto;
  }

  .qr {
    order: 1;
  }

  h1 {
    grid-column: 1 / -1;
  }
  footer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

[popover] {
  padding: 1rem;
  max-height: 90vh;
  max-width: 50ch;
  width: 90vw;
  place-self: center;
  border-radius: 16px;
  transition: all 0.35s ease;

  img {
    margin-bottom: 24px;
  }

  p,
  cite {
    font-weight: normal;
    margin-bottom: 12px;
  }

  .close {
    position: sticky;
    top: 0;
    justify-self: end;
    width: 10%;
  }

  &:popover-open {
    display: grid;
    opacity: 1;
    translate: none;

    @starting-style {
      opacity: 0;
      translate: 0 -50%;
    }
  }

  &::backdrop {
    background: #0008;
    opacity: 1;
    transition: opacity 1s allow-discrete;
  }
}

/* [popover] {
  transition: 1s allow-discrete;
  

  @starting-style {
    rotate: -360deg;
    opacity: 0;

    ::backdrop {
      opacity: 0;
    }
  }

  p,
  cite {
    font-weight: normal;
    margin-bottom: 12px;
  }

  &::backdrop {
    background: #0008;
    opacity: 1;
  }

 

  &:popover-open {
    display: grid;
    opacity: 1;
    rotate: none;
  }
} */
